{% extends "layout.html" %}

{% set body_class = "delete_reservation" %}

{% block content %}
<div class="confirm-delete">
    <h1 class="dashboard-title">Confirm Delete?</h1>
    <div class="horizontal-line"></div>
    <form action="{{ url_for('main.delete_reservation_action', hash_key=reservation.reservation_key) }}" method="post">
        <div class="content">
            <div class="delete-record">
                <div>
                    <label for="first_name">First Name:</label>
                    <p>{{ reservation.first_name }}</p>
                </div>
                
                <div>
                    <label for="last_name">Last Name:</label>
                    <p>{{ reservation.last_name }}</p>
                </div>
                
                <div>
                    <label for="email">Email:</label>
                    <p>{{ reservation.email }}</p>
                </div>
                
                <div>
                    <label for="reservation_type">Reservation Type:</label>
                    <p>{{ reservation.reservation_type }}</p>
                </div>
                
                <div>
                    <label for="reservation_date">Reservation Date:</label>
                    <p>{{ reservation.reservation_date|format_date }}</p>
                </div>
                
                <div>
                    <label for="reservation_time">Reservation Time:</label>
                    <p>{{ reservation.reservation_time|format_time }}</p>
                </div>
                
                <div>
                    <label for="hash_key">Reservation Key:</label>
                    <p>{{ reservation.reservation_key }}</p>
                </div>
                
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
